h1 {
    display: flex;
    background-color: green;
    border: 10px solid blue;
    height: 100px;
    justify-content: center;
    margin: 60px 125px;
    padding-top: 50px;
    font-size: 2.5rem;
}

span {
    visibility: hidden;
}

.navbar {
    /* width: 10; */
    height: 50px;
    background-color: #555;
}

.navbar a {
    float: right;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}


@media screen and (max-width:992px){
    body {
        background-color: rgba(90, 70, 0, 0.5);
    }
    h1 {
        padding-top: 50px;
        font-size: 1.8rem;
    }
}

@media screen and (max-width:768px){
    body {
        background-color: rgba(238, 112, 9, 0.918); 
    }
    .navbar {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        background-color: #555;
    }
    h1 {
        font-size: 1.2rem;
    }
} 

@media screen and (max-width: 600px) {
    body {
        background-color: rgb(204, 0, 204);
    }
    h1 {
        display: none;
    }
    span {
    visibility: visible;
    border: 10px solid red;
    background-color: rgb(204, 0, 204);
    line-height: 300px;
    justify-content: center;
    padding: 60px 0;
    font-size: 1rem;
    margin: 800px 0px 0px 150px;
    }
    .navbar {
        height: 250px;
        display: flex;
        flex-direction:column-reverse;
        background-color: aqua;
    }
    .navbar a{
        color: black;
        text-align: center;
    }
}